.hero{
    background-image: url("../assest/pexels-photo-4386365.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 15rem;

}
table, th, td {
    border:1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 10px;
  }
  label{
    margin: 2px
  }
  input, select{
    padding: 10px;
    border-radius: 20px;
    box-shadow: lightslategray;
  }
  .button{
    width: auto;
    height: 40px;
    border-radius: 21px;
    background: linear-gradient(45deg, black, transparent);
    color: floralwhite;
    font-weight: 400;
    padding: 10
  }
  .button:hover{
    color: khaki;
    opacity: 0.6;
  }